.btn:focus
{
  box-shadow:none ;
  outline: 1px ridge rgb(20, 10, 50) ;
}

.btn:active:focus
{
  box-shadow: none ;
  outline: 1px ridge rgb(20, 10, 50) ;
}

.form-control:focus
{
  box-shadow:none ;
  outline: 1x ridge rgb(20, 10, 50) ;
}

.form-control:active:focus
{
  box-shadow: none ;
  outline: 1x ridge rgb(20, 10, 50) ;
}

.form-select:focus
{
  box-shadow:none ;
  outline: 1x ridge rgb(20, 10, 50) ;
}

.form-select:active:focus
{
  box-shadow:none ;
  outline: 1x ridge rgb(20, 10, 50) ;
}