.heading
{
  font-family: 'Abril Fatface', serif ;
  font-size: 200% ;
  margin-top: 15px ;
  text-align: center ;
}

.header
{
  font-size: 250% ;
  font-weight: bold ;
  color: rgb(215,215,230) ;
}

.homeContainer
{
  height: 80vh ;
  background-image: url("/img/blue.jpg") ;
  text-align: center ;
  font-family: 'Abril Fatface', serif ;
}

.homeImage
{
  margin-top: 5% ;
  width: 300px ;
}

.homePar
{
  text-align: justify ;
  font-size: 125% ;
  font-family: 'Abril Fatface', serif ;
  color: rgb(215,215,230) ;
}

.navbar
{
  font-family: 'Abril Fatface', serif ;
  font-weight: bold ;
  border-bottom-style: solid ;
  border-bottom-color: rgb(20, 10, 50) ;
}

.logo
{
  width: 250px ;
}

.mainContainer
{
  font-family: 'Abril Fatface', serif ;
  text-align: center ;
  margin-top: 3% ;
}

.error
{
  font-family: ABeeZee, sans-serif ;
  font-weight: bold ;
}

.input
{
  margin-top: 1% ;
  font-size: 17px ;
  border-radius: 5px ;
  text-transform: uppercase ;
}

.input2
{
  margin-top: 1% ;
  font-size: 17px ;
  border-radius: 5px ;
}

.button
{
  margin-top: 3% ;
  background: rgb(20, 10, 50) ;
  width: 175px ;
  border-bottom-style: solid ;
  border-bottom-color: rgb(0,0,0) ;
  box-shadow:none ;
  outline: none ;
  border-radius: 5px ;
}

.image
{
  width: 100% ;
}

.hidden
{
  display: none ;
}

.myAni
{
  margin-left: 45% ;
  margin-top: 20% ;
  width: 100px ;
  height: 100px ;
  background-color: rgb(20, 10, 50) ;
  animation: myAni 1000ms ease 0s infinite normal none ;
}

@keyframes myAni 
{
  0% 
  {
    opacity: 0 ;
    transform: rotate(-540deg) scale(0) ;
  }

  100% 
  {
    opacity: 1 ;
    transform: rotate(0) scale(1) ;
  }
}